body{
    background-color: aquamarine;
}

.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake{
    border-radius: 5px;
    background-color: rgb(238, 142, 142);
}

.apple{
    border-radius: 5px;
    background-color: rgb(248, 240, 82);
}
.apple::before{
    border-radius: 2px;
}
.apple::after{
    border-radius: 20px;
}
